module.exports.Credentials = {
    sid: 'ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
    authToken: 'dcXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX',
    incoming: '+18885555555',
    outgoing: '+18005555555',
    hostname: 'example.com'
};

module.exports.CallTestNumber = {

  number: '+15555555555';

};

