
h1 Submit the form to make a call!
form(method="get", action= serveropts.formActionUrl )
  fieldset
    legend General
    p
      label(for="user[name]") Username:
        input(type="text", name="user[name]", value=user.name)
    p
      label(for="user[phone]") Phone Number:
        input(type="text", name="user[phone]", value=user.phone)
    p
      label(for="user[email]") Email:
        input(type="text", name="user[email]", value=user.email)
        .tip
          | Enter a valid 
          | email address 
          | such as <em> youremail@malinator.com</em>.
  
    p.buttons
      input(type="submit", value="Save")
