
h1 Submit the form to make a call!


form#rootloggedin(method="get", action = "/" )
	fieldset
		legend Click to call

		p.buttons
		input(type="submit", value="Save")
		span

div.callresponse
	h3 call status text
	p transcription text
